<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="Lê Hùng - 098.450.4580" />
    <base href="" />
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="fb:app_id" content="1566435460295309"/>    
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script type="text/javascript" src="../js/jquery1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/mousewheel.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript">
    $(function(){
			$('.panorama-container').panorama();
		});
    </script>
</head>
<body>
	<div class="panorama">
		<div class="preloader"></div>
		<div class="panorama-view">
			<div class="panorama-container">
				<img src="../img/panaroma.jpg" data-width="1922" data-height="500" alt="Panorama Alt" />
			</div>
		</div>
		<a href="javascript:;" class="move_left">Move left</a>
        <a href="javascript:;" class="move_right">Move right</a>
        <a href="javascript:;" class="move_up">Move up</a>
        <a href="javascript:;" class="move_down">Move down</a>
         <a href="javascript:;" class="pause_move">Stop</a>
	</div>
</body>
</html>