<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="Lê Hùng - 0984504580" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title>Trang chủ</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../js/jquery.1.11.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>
<div class="wrapper">
<div id="header">
    <div class="container-fluid">
            <div class="col-xs-3 no-padding text-left"><a class="lang-item" href="/" title="Tiếng việt"><img src="../img/flag-vi.png"/></a><a class="lang-item" href="/" title="Tiếng việt"><img src="../img/flag-en.png"/></a></div>
            <div class="col-xs-6 no-padding text-center"><span class="hotline">Hotline: 04 3555 8999</span></div>
            <div class="col-xs-3 no-padding text-right top-nav">
                <span class="search-toggle"></span>
                <span class="nav-toggle"></span>
                <ul class="nav-tree">
                    <li><a href="" title="">Trang chủ</a></li>
                    <li><a href="" title="">Giới thiệu</a></li>
                    <li>
                        <a href="" title="">Dự án</a><span class="arrow"></span>
                        <ul>
                            <li><a href="" title="">Dự án đầu tư</a></li>
                            <li><a href="" title="">Dự án phân phối độc quyền</a></li>
                            <li><a href="" title="">Dự án phân phối khác</a></li>
                        </ul>
                    </li>
                    <li><a href="" title="">Bán</a></li>
                    <li><a href="" title="">Cho thuê</a></li>
                    <li><a href="" title="">Tin tức-Sự kiện</a></li>
                    <li><a href="" title="">Video-Hình ảnh</a></li>
                    <li><a href="" title="">Liên hệ</a></li>
                </ul>
            </div>
            </div>
<div class="block search-box">
<div class="container-fluid">
    <div class="col-xs-12 center-block">
        <div class="mailing-form">  
            <input type="text" id="search-box" placeholder="Nhập từ khoá tìm kiếm..."/>  
            <span class="search-submit"></span>
        </div>
   </div>
</div>    
</div>            
    <div class="container-fluid">
            <div class="col-xs-12 text-center site-logo"><a href="/" title="IDJLAND"><img src="../img/mobile-logo.png" width="206" height="46" alt="LOGO"/></a></div>
     </div>
    <div class="slideshow">
        <div class="slide-item">
            <div class="slide-img">
            <img src="../img/slide-img.jpg" width="100%" title="" alt=""/>
            </div>
            <div class="container slide-content">
                <a class="slide-title" href="" title="">
                    DỰ ÁN RIVIERA POINT
                </a>
                <div class="slide-caption">
                Vươn mình kiêu hãnh giữa Quận 7, Riviera Point được bao bọc bởi một không gian thanh bình bên dòng sông Cả Cấm.Tại đây, bạn dễ dàng cảm nhận cuộc sống phong phú giữa cộng đồng dân cư hiện đại với những cửa hiệu, nhà hàng và hàng loạt các tiện ích đa dạng nhằm mang đến cho cư dân một cuộc sống ven sông ngập tràn hứng khởi.
                </div>
                <div class="slide-link">
                    <a href="#" title="">Tổng quan dự án</a>
                    <a href="#" title="">Hình ảnh dự án</a>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="slide-img">
            <img src="../img/slide-img.jpg" width="100%" title="" alt=""/>
            </div>
            <div class="container slide-content">
                <a class="slide-title" href="" title="">
                    DỰ ÁN RIVIERA POINT
                </a>
                <div class="slide-caption">
                Vươn mình kiêu hãnh giữa Quận 7, Riviera Point được bao bọc bởi một không gian thanh bình bên dòng sông Cả Cấm.Tại đây, bạn dễ dàng cảm nhận cuộc sống phong phú giữa cộng đồng dân cư hiện đại với những cửa hiệu, nhà hàng và hàng loạt các tiện ích đa dạng nhằm mang đến cho cư dân một cuộc sống ven sông ngập tràn hứng khởi.
                </div>
                <div class="slide-link">
                    <a href="#" title="">Tổng quan dự án</a>
                    <a href="#" title="">Hình ảnh dự án</a>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="slide-img">
            <img src="../img/slide-img.jpg" width="100%" title="" alt=""/>
            </div>
            <div class="container slide-content">
                <a class="slide-title" href="" title="">
                    DỰ ÁN RIVIERA POINT
                </a>
                <div class="slide-caption">
                Vươn mình kiêu hãnh giữa Quận 7, Riviera Point được bao bọc bởi một không gian thanh bình bên dòng sông Cả Cấm.Tại đây, bạn dễ dàng cảm nhận cuộc sống phong phú giữa cộng đồng dân cư hiện đại với những cửa hiệu, nhà hàng và hàng loạt các tiện ích đa dạng nhằm mang đến cho cư dân một cuộc sống ven sông ngập tràn hứng khởi.
                </div>
                <div class="slide-link">
                    <a href="#" title="">Tổng quan dự án</a>
                    <a href="#" title="">Hình ảnh dự án</a>
                </div>
            </div>
        </div>
            <div class="slide-nav">
                <span class="slide-prev"></span>
                <span class="slide-next"></span>
            </div>
    </div>
</div>
<div id="content" class="main-content">
    <div class="category-block">
    <div class="header">
              
                    <a class="header-title" title="" href="">Bất động sản cần bán</a>
                    <a class="read-more" title="" href="">Xem hết &Gt;</a>
                </div>
        <div class="list-item container">
                    <div class="item-pro col-xs-12 col-md-6">
                    <a class="pro-name" href="" title="">Phú Gia Residence</a>
                        <div class="item-img">
                            <a href="#" title=""><img src="../img/pro-img.jpg" width="220px" height="166px" title="" alt=""/></a>
                            <span class="pro-sticky new"></span>
                        </div>
                        
                        <div class="pro-info">
                            <p>Loại BĐS: <strong>Chung cư</strong></p>
                            <p>Giá: <strong>23,5 triệu VNĐ/m2</strong></p>
                            <p>Q/H: Thanh Xuân</p>
                            <p>Tỉnh/TP: Hà Nội</p>
                            <p>Địa chỉ: số 3 Nguyễn Huy Tưởng, quận Thanh Xuân, Hà Nội  </p>
                            <p>Chủ đầu tư: Công ty CP đầu tư phát triển Hợp Phú</p>
                        </div>
                    </div>
                    <div class="item-pro col-xs-12 col-md-6">
                    <a class="pro-name" href="" title="">Phú Gia Residence</a>
                        <div class="item-img">
                            <a href="#" title=""><img src="../img/pro-img.jpg" width="220px" height="166px" title="" alt=""/></a>
                            <span class="pro-sticky hot"></span>
                        </div>
                        
                        <div class="pro-info">
                            <p>Loại BĐS: <strong>Chung cư</strong></p>
                            <p>Giá: <strong>23,5 triệu VNĐ/m2</strong></p>
                            <p>Q/H: Thanh Xuân</p>
                            <p>Tỉnh/TP: Hà Nội</p>
                            <p>Địa chỉ: số 3 Nguyễn Huy Tưởng, quận Thanh Xuân, Hà Nội  </p>
                            <p>Chủ đầu tư: Công ty CP đầu tư phát triển Hợp Phú</p>
                        </div>
                    </div>
                    <div class="item-pro col-xs-12 col-md-6">
                    <a class="pro-name" href="" title="">Phú Gia Residence</a>
                        <div class="item-img">
                            <a href="#" title=""><img src="../img/pro-img.jpg" width="220px" height="166px" title="" alt=""/></a>
                            <span class="pro-sticky sale"></span>
                        </div>
                        
                        <div class="pro-info">
                            <p>Loại BĐS: <strong>Chung cư</strong></p>
                            <p>Giá: <strong>23,5 triệu VNĐ/m2</strong></p>
                            <p>Q/H: Thanh Xuân</p>
                            <p>Tỉnh/TP: Hà Nội</p>
                            <p>Địa chỉ: số 3 Nguyễn Huy Tưởng, quận Thanh Xuân, Hà Nội  </p>
                            <p>Chủ đầu tư: Công ty CP đầu tư phát triển Hợp Phú</p>
                        </div>
                    </div>
                </div>                
    </div>
    <div class="category-block">
    <div class="header">
              
                    <a class="header-title" title="" href="">Bất động sản cho thuê</a>
                    <a class="read-more" title="" href="">Xem hết &Gt;</a>
                </div>
        <div class="list-item container">
                    <div class="item-pro col-xs-12 col-md-6">
                     <a class="pro-name" href="" title="">Phú Gia Residence</a>
                        <div class="item-img">
                            <a href="#" title=""><img src="../img/pro-img.jpg" width="220px" height="166px" title="" alt=""/></a>
                            <span class="pro-sticky new"></span>
                        </div>
                       
                        <div class="pro-info">
                            <p>Loại BĐS: <strong>Chung cư</strong></p>
                            <p>Giá: <strong>23,5 triệu VNĐ/m2</strong></p>
                            <p>Q/H: Thanh Xuân</p>
                            <p>Tỉnh/TP: Hà Nội</p>
                            <p>Địa chỉ: số 3 Nguyễn Huy Tưởng, quận Thanh Xuân, Hà Nội  </p>
                            <p>Chủ đầu tư: Công ty CP đầu tư phát triển Hợp Phú</p>
                        </div>
                    </div>
                    <div class="item-pro col-xs-12 col-md-6">
                       <a class="pro-name" href="" title="">Phú Gia Residence</a>
                        <div class="item-img">
                            <a href="#" title=""><img src="../img/pro-img.jpg" width="220px" height="166px" title="" alt=""/></a>
                            <span class="pro-sticky hot"></span>
                        </div>
                     
                        <div class="pro-info">
                            <p>Loại BĐS: <strong>Chung cư</strong></p>
                            <p>Giá: <strong>23,5 triệu VNĐ/m2</strong></p>
                            <p>Q/H: Thanh Xuân</p>
                            <p>Tỉnh/TP: Hà Nội</p>
                            <p>Địa chỉ: số 3 Nguyễn Huy Tưởng, quận Thanh Xuân, Hà Nội  </p>
                            <p>Chủ đầu tư: Công ty CP đầu tư phát triển Hợp Phú</p>
                        </div>
                    </div>
                    <div class="item-pro col-xs-12 col-md-6">
                    <a class="pro-name" href="" title="">Phú Gia Residence</a>
                        <div class="item-img">
                            <a href="#" title=""><img src="../img/pro-img.jpg" width="220px" height="166px" title="" alt=""/></a>
                            <span class="pro-sticky sale"></span>
                        </div>
                        
                        <div class="pro-info">
                            <p>Loại BĐS: <strong>Chung cư</strong></p>
                            <p>Giá: <strong>23,5 triệu VNĐ/m2</strong></p>
                            <p>Q/H: Thanh Xuân</p>
                            <p>Tỉnh/TP: Hà Nội</p>
                            <p>Địa chỉ: số 3 Nguyễn Huy Tưởng, quận Thanh Xuân, Hà Nội  </p>
                            <p>Chủ đầu tư: Công ty CP đầu tư phát triển Hợp Phú</p>
                        </div>
                    </div>
                </div>                
    </div>
    
    
    <div class="block">
            <div class="header header-news">
              
                    <a class="header-title" title="" href="">TIN TỨC - SỰ KIỆN</a>
                    <a class="read-more" title="" href="">Xem hết &Gt;</a>
                </div>
                <div class="block-news container">
                   <ul class="list-news"> 
                        <li><span></span><a href="" title=""> R6 Vinhomes Royal City: Khuyến mãi khủng cho 150 khách hàng...</a></li>
                        <li><span></span><a href="" title=""> R6 Vinhomes Royal City: Khuyến mãi khủng cho 150 khách hàng...</a></li>
                        <li><span></span><a href="" title=""> R6 Vinhomes Royal City: Khuyến mãi khủng cho 150 khách hàng...</a></li>
                        <li><span></span><a href="" title=""> R6 Vinhomes Royal City: Khuyến mãi khủng cho 150 khách hàng...</a></li>
                        <li><span></span><a href="" title=""> R6 Vinhomes Royal City: Khuyến mãi khủng cho 150 khách hàng...</a></li>
                    </ul>        
                </div>
    </div>
    <div class="block">
            <div class="header header-support">              
                    <a class="header-title" title="" href="">Hỗ trợ khách hàng</a>                    
                </div>
                <div class="block-support container">
                   <p><span class="support-name">Nguyễn Thị Hoa</span><span class="support-phone">0942409118</span></p>
                   <p><span class="support-name">Nguyễn Thị Hoa</span><span class="support-phone">0942409118</span></p>
                   <p><span class="support-name">Nguyễn Thị Hoa</span><span class="support-phone">0942409118</span></p>
                   <p><span class="support-name">Nguyễn Thị Hoa</span><span class="support-phone">0942409118</span></p>
                   <p><span class="support-name">Nguyễn Thị Hoa</span><span class="support-phone">0942409118</span></p>        
                </div>
    </div>
    
<div class="block register-mail">
<div class="container-fluid">
    <div class="col-xs-12 center-block">
    <p class="text-left strong" style="font-size: 15px;">Đăng ký nhận bản tin</p>
    <div class="text-center">      
    <div class="mailing-form">  
        <input type="text" placeholder="Nhập email" id="email"/>  
        <span class="mailing-submit">Đăng ký</span>
    </div>
    </div>
    </div>
</div>    
</div>    
    
</div>
<div id="footer">
    <div class="content">
        <div class="container">
            <div class="social">
            <a title="Facebook" href=""><img width="31" height="31" alt="Facebook" title="Facebook" src="../img/facebook-ico.png"/></a>
             <a title="Twitter" href=""><img width="31" height="31" alt="Twitter" title="Facebook" src="../img/twitter-ico.png"/></a>        
            <a title="Google plus" href=""><img width="31" height="31" alt="Google plus" title="Facebook" src="../img/google-plus-ico.png"/></a>
            </div>
            <div class="footer-content">
                <strong>Công ty Cổ phần Đầu tư Tài chính Quốc tế và Phát triển Doanh nghiệp IDJ</strong>
<p>Địa chỉ: Tầng 16 Tòa nhà văn phòng Charmvit Tower, 117 Trần Duy Hưng, Phường Trung Hòa, Quận Cầu Giấy, Hà Nội</p>
<p>ĐT: 04.3555.8999   |   Fax: 04.3555.8990</p>
<p></p>MST: 0102 186 593   |   Website: <a href="www.idjf.vn" title="">www.idjf.vn</a></p>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container">© 2015 by IDJ Financial. All Rights Reserved.</div>
    </div>
</div>
</div>

</body>
</html>