<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>
            Vietnam handicrafts, Vietnam handicrafts factory, Vietnam bamboo manufacturer, Vietnam rattan manufacturer
        </title>
        <meta name="Description" content="Vietnam bamboo, vietnam handicrafts, vietnam rattan, home decor, home furnishings, baskets factory, bowls, trays, pots, planters, storages" /><meta name="Keywords" content="Vietnam bamboo, vietnam handicrafts, vietnam rattan, bamboo bowls, bamboo pots, Vietnam handicrafts, Vietnam handicrafts factory,  Vietnam bamboo manufacturer,  Vietnam rattan manufacturer" />
        <link href="css/css.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
    </head>
    <body>
        <div id="Warap">
            <div class="Top">
                <div class="ofh">
    <div class="FloatLeft w290xh90 pl10">
        <img alt="" class="csPointer ImageRi" src="img/logo-ngoc-dong.jpg" align="left"/>
    </div>

    <div class="FloatLeft w465xh90 ml31">
        <p class="MsoNormalHeader">
            <span>Leading factory for Vietnam handicrafts and home decor</span>
        </p>
    </div>
</div>
<div id="main-menu">
    <ul class="menu">
                <li>
            <a href="http://www.ngocdonghandicrafts.com/home.html">
                <h3 class="color">
                    HOME
                </h3>
            </a>
            
        </li>
        
        <li>
            <a href="http://www.ngocdonghandicrafts.com/about-us.html">
                <h3 class="color">
                    ABOUT US
                </h3>
            </a>
                        <ul>
                                <li>
                    <a href="http://www.ngocdonghandicrafts.com/about-us/the-company.html">THE COMPANY</a>

                                        <ul>
                                                <li><a href="http://www.ngocdonghandicrafts.com/about-us/the-company/brief-profile.html">Brief profile</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/about-us/the-company/management-staff.html">Management & staff</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/about-us/the-company/mission-vision.html">Mission & vision</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/about-us/the-company/production-facilities.html">Production facilities</a></li>
                        
                    </ul>
                    

                </li>
                
                <li>
                    <a href="http://www.ngocdonghandicrafts.com/about-us/our-policies.html">OUR POLICIES</a>

                                        <ul>
                                                <li><a href="http://www.ngocdonghandicrafts.com/about-us/our-policies/social-responsibility.html">Social responsibility</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/about-us/our-policies/quality.html">Quality</a></li>
                        
                    </ul>
                    

                </li>
                
            </ul>
            
        </li>
        
        <li>
            <a href="http://www.ngocdonghandicrafts.com/products.html">
                <h3 class="color">
                    PRODUCTS
                </h3>
            </a>
                        <ul>
                                <li>
                    <a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories.html">Kitchen Accessories</a>

                                        <ul>
                                                <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/bowls-fruit-baskets.html">Bowls, fruit baskets</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/new-items.html">New Items</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/charger-plates.html">Charger plates</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/cutlery-trays.html">Cutlery trays</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/serving-trays.html">Serving trays</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/napkin-holders.html">Napkin holders</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/bread-baskets.html">Bread baskets</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/place-mats.html">Place mats</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/dip-chip-trays.html">Dip, Chip trays</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/wine-caddies.html">Wine caddies</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/coasters.html">Coasters</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/kitchen-accessories/additional-items.html">Additional items</a></li>
                        
                    </ul>
                    

                </li>
                
                <li>
                    <a href="http://www.ngocdonghandicrafts.com/products/bath-accessories.html">Bath Accessories</a>

                                        <ul>
                                                <li><a href="http://www.ngocdonghandicrafts.com/products/bath-accessories/waste-baskets.html">Waste baskets</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/bath-accessories/laundry-hampers.html">Laundry hampers</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/bath-accessories/bath-baskets.html">Bath baskets</a></li>
                        
                    </ul>
                    

                </li>
                
                <li>
                    <a href="http://www.ngocdonghandicrafts.com/products/home-accessories.html">Home Accessories</a>

                                        <ul>
                                                <li><a href="http://www.ngocdonghandicrafts.com/products/home-accessories/home-office-items.html">Home office items</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/home-accessories/storage-baskets.html">Storage baskets</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/home-accessories/decorative-vases.html">Decorative vases</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/home-accessories/wall-panels.html">Wall panels</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/home-accessories/planters.html">Planters</a></li>
                        
                        <li><a href="http://www.ngocdonghandicrafts.com/products/home-accessories/lamps.html">Lamps</a></li>
                        
                    </ul>
                    

                </li>
                
                <li>
                    <a href="http://www.ngocdonghandicrafts.com/products/furniture.html">Furniture</a>

                    

                </li>
                
            </ul>
            
        </li>
        
        <li>
            <a href="http://www.ngocdonghandicrafts.com/production-process.html">
                <h3 class="color">
                    PRODUCTION PROCESS
                </h3>
            </a>
            
        </li>
        
        <li>
            <a href="http://www.ngocdonghandicrafts.com/faq.html">
                <h3 class="color">
                    FAQ
                </h3>
            </a>
            
        </li>
        
        <li>
            <a href="http://www.ngocdonghandicrafts.com/contact-us.html">
                <h3 class="color">
                    CONTACT US
                </h3>
            </a>
            
        </li>
        
        <li>
            <a href="http://www.ngocdonghandicrafts.com/gallery.html">
                <h3 class="color">
                    GALLERY
                </h3>
            </a>
            
        </li>
        
    </ul>
</div>
<div class="ClearBoth"></div>
<script type="text/javascript">
    $(document).ready(function(){
        url = window.location.href;//.substring(7).split('/')[1];
        $(".menu li a").each(function(){
            if($(this).attr('href') == url){
                $(".menu li a").removeClass('active');
                $(".menu li").removeClass('active');
                $(this).addClass('active');
                $(this).parent().addClass('active');
            }
            else
            {
                //Check if href is a part of url
                href = $(this).attr("href");
                if(href.indexOf('.html') > 0)
                    href = href.substr(0, href.length - 5);
                if(url.indexOf(href) >= 0)
                {
                    $(".menu li a").removeClass('active');
                    $(".menu li").removeClass('active');
                    $(this).addClass('active');
                    $(this).parent().addClass('active');
                }
            }
        });
        if($('.menu li a.active').length == 0)
        {
            $('.menu li:first-child a').addClass('active');
            $('.menu li:first-child').addClass('active');
        }
    });
</script>
            </div>

            <div class="mt20">
                <div class="Middle">
                    <div class="ContentLeft">
    <div id="slideshow" style="z-index:9">
                <div>
            <img src="img/banner1.jpg" alt="bamboo bowl" style="width:540px; height:200px; z-index:10;" />
        </div>
        
        <div>
            <img src="img/banner2.jpg" alt="serving tray" style="width:540px; height:200px; z-index:10;" />
        </div>
        
        <div>
            <img src="img/banner3.jpg" alt="storage basket" style="width:540px; height:200px; z-index:10;" />
        </div>

        
    </div>
</div>
<script type="text/javascript"> $("#slideshow > div:gt(0)").hide();
setInterval(function() {
    $('#slideshow > div:first')
            .fadeOut(1000)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('#slideshow');
},  3000);
</script><div class="ContentRight">
    <h2 class="color" style="padding-left:10px;"><span id="ContentPlaceHolder1_pmenu1_Label1">WHAT WE DO</span></h2>
    <div id="menu3">
        <ul>
            <!-- CSS Tabs -->
                        <li><a href='http://www.ngocdonghandicrafts.com/Product/ProductComponent/getListProduct?catname=kitchen-accessories&catid=1'>Kitchen Accessories</a></li>
            
            <li><a href='http://www.ngocdonghandicrafts.com/Product/ProductComponent/getListProduct?catname=bath-accessories&catid=2'>Bath Accessories</a></li>
            
            <li><a href='http://www.ngocdonghandicrafts.com/Product/ProductComponent/getListProduct?catname=home-accessories&catid=3'>Home Accessories</a></li>
            
            <li><a href='http://www.ngocdonghandicrafts.com/Product/ProductComponent/getListProduct?catname=furniture&catid=4'>Furniture</a></li>
            
        </ul>
    </div>
</div>
                </div>

                <div class="ClearBoth"></div>

                <div class="Bottom pt12">
                    <div class="Boder">
    <div class="FloatLeft w370 p5">
        <div class="ClearRight fwb tdu lhn">Factory and head office:</div>
        <div class="ClearRight">Ngoc Dong Industrial Zone, Hoang Dong commune,</div>
        <div class="ClearRight">Duy Tien district, Ha Nam province, Vietnam</div>
        <div class="ClearRight">Tel:( 84) 3513 835 494 / Fax: (84) 3513 835 604</div>
        <div class="ClearBoth">
            <div class="FloatLeft">Email:</div>
            <div class="FloatLeft ml5">
                <span class="tdu">info@ngocdongrattan.com</span>
            </div>
        </div>
    </div>

    <div class="FloatRight p5 w370">
        <div class="pl20">
            <div class="ClearRight fwb tdu lhn">Ha Noi representative and sale office:</div>
            <div class="ClearRight">No 7/129 Vuong Thua Vu street, Thanh Xuan district,</div>
            <div class="ClearRight">Ha Noi,Vietnam</div>
            <div class="ClearRight">Tel: (84) 43 566 6263 / Fax: (84) 43 566 6264</div>
            <div class="ClearBoth">
                <div class="FloatLeft">Email:</div>
                <div class="FloatLeft ml5">
                    <a href="javascript:" style="display: block; clear: right;">sales@ngocdonghandicrafts.com</a>
                    <a href="javascript:">thong@ngocdonghandicrafts.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ClearBoth"></div>
</div>
                </div>
                <div class="ClearBoth" ></div>
            </div>

            <div id="footer" class="ofh mt35">
                <div class="Middle">
    <div class="ContentLeft ofh">
        <ul class="menu-footer ofh">
                    <li><a href="http://www.ngocdonghandicrafts.com/home.html">Home</a></li>
        
            <li><a href="http://www.ngocdonghandicrafts.com/direction.html">Direction</a></li>
        
            <li><a href="http://www.ngocdonghandicrafts.com/news.html">News</a></li>
        
            <li><a href="http://www.ngocdonghandicrafts.com/about-us.html">About Us</a></li>
        
            <li><a href="http://www.ngocdonghandicrafts.com/catalog.html">Catalog</a></li>
        
            <li><a href="http://www.ngocdonghandicrafts.com/sitemap.html">SiteMap</a></li>
        
        </ul>
    </div>

    <div class="ContentRight" style="text-align:center">
        <a href="http://www.facebook.com/share.php?u=http://ngocdonghandicrafts.com/nav/home.aspx" ><img src="img/Icon/facebook1.gif" alt="" style="border:0px" /></a>
        <a href="http://twitter.com/intent/session?original_referer=http://ngocdonghandicrafts.com/nav/home.aspx" ><img src="img/Icon/twitter1.gif" alt="" style="border:0px" /></a>
        <a href="https://www.google.com/bookmarks/mark?op=edit&bkmk=http://ngocdonghandicrafts.com/nav/home.aspx" ><img src="img/Icon/google1.gif" alt="" style="border:0px" /></a>
        <a href="https://pinterest.com/login/?next=%2Fabout%2F" ><img src="img/Icon/pinterest.gif" alt="" style="border:0px" /></a>
    </div>
</div>
<div class="ClearBoth"></div>
<div class="Bottom">
    <div>
        <img alt="" style="cursor:pointer;" onclick ="window.open('')" class="ImageRi"
             src="img/fe57483f-ec2c-4d3d-9a84-e3c266f19553en-US.jpg"/>
    </div>
	<div class="copyRight">
      <a href="http://vcc.vn" target="_blank" class="FloatRight aCopyRight" title="Thiết kế website">Thiết kế website bởi VCC</a>
    </div>
</div>
<style type="text/css">
    div.copyRight {margin: 20px 15px 0 0; overflow: hidden;}
    a.aCopyRight
    {
        background: url("img/logovcc50x50.png") center right no-repeat;
    background-size: 20px 20px;
        display: block;
        height: 11px;
        line-height: 11px;
        width: 165px;
        font-size: 11px;
    padding: 5px 0px;
        font-weight: bold;
    }
</style>
            </div>
        </div>
        <div class="ClearBoth"></div>
    </body>
</html>
