<!DOCTYPE HTML>
<html>
<head>
	<title>Giới thiệu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/jquery-bxslider/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<section class="top">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding logo">
					<a href="javascript:;">
						<img src="../img/logo.png" alt="TREXINH">
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding search-form">
					<input type="text" name="keyword" value="" placeholder="Nhập từ khóa để tìm kiếm">
					<button type="button" class="btn btn-orange">Tìm kiếm</button>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding phone-number">
					<i class="icon icon-phone-o"></i> <span>0987654321</span> <span>0987654321</span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding carts">
					<div>
						<span>0</span>
					</div>
				</div>
			</section>
		</div>
		<nav>
			<div class="container">
				<ul>
					<li class="active"><a href="javascript:;">Trang chủ</a></li>
					<li><a href="javascript:;">Giới thiệu</a></li>
					<li><a href="javascript:;">Sản phẩm</a></li>
					<li><a href="javascript:;">Tin tức</a></li>
					<li>
						<a href="javascript:;">Album</a>
						<ul>
							<li><a href="javascript:;">Album 1</a></li>
							<li><a href="javascript:;">Album 2</a></li>
							<li><a href="javascript:;">Album 3</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">Hỗ trợ khách hàng</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="breadcrumb">
			<a href="javascript:;">Trang chủ</a> &raquo; <a href="javascript:;">Giới thiệu</a>
		</div>
	</div>
	<div class="container">
		<section class="content">
			<h1><a href="javascript:;">Giới thiệu</a></h1>
			<div class="text">
				<p>Công ty Ngọc Động Hà Nam là công ty chuyên sản xuất hàng thủ công mỹ nghệ ở Việt Nam và xuất khẩu ra hơn 30 nước trên thế giới. Khách hàng của chúng tôi là những nhà nhập khẩu và những tập đoàn bán lẻ lớn trên thế giới như Target, BBB, T-J-X, Nitori, Ikea, Carrefour, Tchibo, OBI, Testco, Le biscuit, Fallabella...</p>
				<p>Được thành lập năm 1988 với hình thức tổ hợp và chuyển đổi sang mô hình công ty năm 2004, Ngọc Động Hà Nam một mặt nỗ lực phát triển sản phẩm và thị trường, mặt khác tích cực chung tay trong sự nghiệp xóa đói giảm nghèo, phát triển kinh tế nông thôn trên địa bàn tỉnh Hà Nam và nhiều tỉnh lân cận như Nam Định, Thái Bình, Ninh Bình. Với quy mô nhà xưởng gần 20,000 m2, hàng năm chúng tôi xuất khẩu trên 2 triệu sản phẩm mây tre đan và trang trí nội thất ra thị trường quốc tế, tạo công ăn việc làm thường xuyên cho 3.000-4.000 lao động nông thôn. Nhà máy được hoạt động theo quy trình quản lý chất lượng ISO 9001: 2008, tạo ra được những sản phẩm tiêu dùng có chất lượng, an toàn với người sử dụng ở các nước nhập khẩu và vượt qua được các hàng rào phi thuế quan nên được khách hàng tín nhiệm cao và duy trì quan hệ đối tác lâu dài.</p>
				<p>Chúng tôi là 1 trong những thành viên tích cực của các hiệp hội và  tổ chức trong nước và quốc tế như VCCI, Vietrade, Vietcraft, Quỹ bảo tồn hoang dã thế giới WWF, mạng lưới tre Mekong, mạng lưới mây Việt Nam và Trung tâm sản xuất sạch Việt Nam với mục tiêu sản xuất bền vững hơn, sản xuất thân thiện môi trường hơn.</p>
				<p>Nhờ những đóng góp tích cực trong việc xuất khẩu hàng thủ công mỹ nghệ, tạo việc làm và phát triển kinh tế nống thôn, chúng tôi vinh dự nhận được rất nhiều bằng khen và giải thưởng của nhà nước như: Bằng khen của thủ tướng chính phủ năm 2004, chứng nhận Doanh nghiệp xuất khẩu xuất sắc của VCCI năm 2006, giải thưởng Sao Vàng đất Việt năm 2008....</p>
				<p style="text-align: center">
					<img src="../img/posts/about.png" height="240" width="373" alt="">
				</p>
				<p>
					<strong>Tre Xinh</strong>
				</p>
				<p>Tre xinh chuyên cung cấp những sản phẩm, phụ kiện như: sản phẩm nhà tắm, sản phẩm phòng khách. sản phẩm nhà bếp, sản phẩm văn phòng, nội thất nhỏ và quà tặng,... Tre Xinh đã đạt được nhiều chứng nhận của các Doanh nghiệp xuất khẩu và khẳng định được vị trí của mình trên thị trường.</p>
				<p>Chúng tồi cam kết luôn mang lại những sản phẩm tốt và thân thiện với môi trường tới khách hàng.</p>
			</div>
		</section>
	</div>
	<footer>
		<div class="container">
			<div class="footer-content">
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Album</h4>
					<ul>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Album</h4>
					<ul>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Liên hệ</h4>
					<ul>
						<li></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding maps">
					<img src="https://placeholdit.imgix.net/~text?txtsize=19&amp;bg=efefef&amp;txtclr=aaaaaa%26text%3Dno%2Bimage&amp;txt=no+image&amp;w=200&amp;h=150" alt="maps">
				</section>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				&copy; Copyright 2015. Made by iguru.vn
			</div>
		</div>
	</footer>
	<script src="../plugins/jquery.min.js" type="text/javascript"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../plugins/jquery-bxslider/jquery.bxslider.min.js" type="text/javascript"></script>
	<script src="../plugins/jquery-elevatezoom/jquery.elevatezoom.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
</body>
</html>