<!DOCTYPE HTML>
<html>
<head>
	<title>Liên hệ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/jquery-bxslider/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<section class="top">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding logo">
					<a href="javascript:;">
						<img src="../img/logo.png" alt="TREXINH">
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding search-form">
					<input type="text" name="keyword" value="" placeholder="Nhập từ khóa để tìm kiếm">
					<button type="button" class="btn btn-orange">Tìm kiếm</button>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding phone-number">
					<i class="icon icon-phone-o"></i> <span>0987654321</span> <span>0987654321</span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding carts">
					<div>
						<span>0</span>
					</div>
				</div>
			</section>
		</div>
		<nav>
			<div class="container">
				<ul>
					<li class="active"><a href="javascript:;">Trang chủ</a></li>
					<li><a href="javascript:;">Giới thiệu</a></li>
					<li><a href="javascript:;">Sản phẩm</a></li>
					<li><a href="javascript:;">Tin tức</a></li>
					<li>
						<a href="javascript:;">Album</a>
						<ul>
							<li><a href="javascript:;">Album 1</a></li>
							<li><a href="javascript:;">Album 2</a></li>
							<li><a href="javascript:;">Album 3</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">Hỗ trợ khách hàng</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="breadcrumb">
			<a href="javascript:;">Trang chủ</a> &raquo; <a href="javascript:;">Hỗ trợ khách hàng</a> &raquo; <a href="javascript:;">Liên hệ</a>
		</div>
	</div>
	<div class="container">
		<section class="contact">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h1>CÔNG TY NGỌC ĐỘNG HÀ NAM</h1>
				<table>
					<tbody>
						<tr>
							<td>Trụ sở chính</td>
							<td>: KCN Ngọc Động, Hoàng Đồng, Duy Tiên, Hà Nam</td>
						</tr>
						<tr>
							<td>Tel</td>
							<td>: 03513 835 494</td>
						</tr>
						<tr>
							<td>Fax</td>
							<td>: 03513 835 604</td>
						</tr>
						<tr>
							<td>Web</td>
							<td>: ngocdonghandicrafts.com</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>: info@ngocdongrattan.com</td>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody>
						<tr>
							<td>VP đại diện</td>
							<td>: Số 7/129 Vương Thừa Vũ, Thanh Xuân,Hà Nội</td>
						</tr>
						<tr>
							<td>Tel</td>
							<td>: 043 566 6263</td>
						</tr>
						<tr>
							<td>Fax</td>
							<td>: 043 566 6264</td>
						</tr>
						<tr>
							<td>Web</td>
							<td>: Trexinh.vn</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>: info@trexinh.vn</td>
						</tr>
					</tbody>
				</table>
				<div class="contact-form">
					<form action="/" method="post" accept-charset="utf-8">
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
							Họ và tên <span class="important">(*)</span>
						</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
							<input type="text" name="" value="" placeholder="">
						</div>
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
							Số điện thoại <span class="important">(*)</span>
						</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
							<input type="text" name="" value="" placeholder="">
						</div>
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
							Email <span class="important">(*)</span>
						</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
							<input type="text" name="" value="" placeholder="">
						</div>
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
							Địa chỉ <span class="important">(*)</span>
						</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
							<input type="text" name="" value="" placeholder="">
						</div>
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
							Nội dung <span class="important">(*)</span>
						</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
							<textarea name=""></textarea>
						</div>
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">&nbsp;</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 no-padding">
							<button type="submit" class="btn btn-orange">Gửi</button>
							<button type="button" class="btn btn-green">Xóa hết</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		</section>
	</div>
	<footer>
		<div class="container">
			<div class="footer-content">
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Album</h4>
					<ul>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Album</h4>
					<ul>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Liên hệ</h4>
					<ul>
						<li></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding maps">
					<img src="https://placeholdit.imgix.net/~text?txtsize=19&amp;bg=efefef&amp;txtclr=aaaaaa%26text%3Dno%2Bimage&amp;txt=no+image&amp;w=200&amp;h=150" alt="maps">
				</section>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				&copy; Copyright 2015. Made by iguru.vn
			</div>
		</div>
	</footer>
	<script src="../plugins/jquery.min.js" type="text/javascript"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../plugins/jquery-bxslider/jquery.bxslider.min.js" type="text/javascript"></script>
	<script src="../plugins/jquery-elevatezoom/jquery.elevatezoom.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
</body>
</html>