<!DOCTYPE HTML>
<html>
<head>
	<title>Chi tiết in tức</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/jquery-bxslider/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<section class="top">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding logo">
					<a href="javascript:;">
						<img src="../img/logo.png" alt="TREXINH">
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding search-form">
					<input type="text" name="keyword" value="" placeholder="Nhập từ khóa để tìm kiếm">
					<button type="button" class="btn btn-orange">Tìm kiếm</button>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding phone-number">
					<i class="icon icon-phone-o"></i> <span>0987654321</span> <span>0987654321</span>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padding carts">
					<div>
						<span>0</span>
					</div>
				</div>
			</section>
		</div>
		<nav>
			<div class="container">
				<ul>
					<li class="active"><a href="javascript:;">Trang chủ</a></li>
					<li><a href="javascript:;">Giới thiệu</a></li>
					<li><a href="javascript:;">Sản phẩm</a></li>
					<li><a href="javascript:;">Tin tức</a></li>
					<li>
						<a href="javascript:;">Album</a>
						<ul>
							<li><a href="javascript:;">Album 1</a></li>
							<li><a href="javascript:;">Album 2</a></li>
							<li><a href="javascript:;">Album 3</a></li>
						</ul>
					</li>
					<li><a href="javascript:;">Hỗ trợ khách hàng</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="breadcrumb">
			<a href="javascript:;">Trang chủ</a> &raquo; <a href="javascript:;">Tin tức</a> &raquo; <a href="javascript:;">Dân dã mà sang trọng với nội thất mây tre</a>
		</div>
	</div>
	<section class="news-details">
		<div class="container">
			<h1><a href="javascript:;">Dân dã mà sang trọng với nội thất mây tre</a></h1>
			<div class="info">
				Lượt xem: 12345 | Ngày đăng: 25-11-2015
			</div>
			<div class="content">
				<p>Việc sử dụng mây tre trong trang trí nội thất được nhiều gia đình ưa chuộng bởi vẻ đẹp rất riêng. Chúng đem lại cho không gian sự thoải mái, dịu nhẹ, gần gũi với thiên nhiên.</p>
				<p>Trên thị trường nội thất hiện nay, các sản phẩm từ mây tre rất đa dạng về chủng loại, hình thức, phong phú về giá trị sử dụng, kinh tế. Tuy nhiên, nội thất mây tre rất kỵ nước bởi sự ẩm ướt sẽ khiến chúng dễ bị mối mọt, ẩm mốc. Do đó, khi lựa chọn và sử dụng đồ nội thất “kỹ tính” này, gia chủ nên lưu ý kỹ và cẩn thận trong quá trình sử dụng, bảo quản.</p>
				<p>Bề mặt nội thất mây tre cần trơn bóng, phần khớp nối không thô ráp lồi lõm.</p>
				<p>Với các sản phẩm bằng mây, bạn nên lựa chọn loại mây to dài, thon đều, không có nhiều tạp sắc. Loại mây chất lượng kém thường có sợi nhỏ, đàn hồi kém, dễ đứt. Khi sờ vào bề mặt sản phẩm, mây phải trơn, bóng, đặc biệt phần khớp nối không thô ráp hoặc lồi lõm, không phẳng.</p>
				<p>Đối với ghế mây có lắp đệm ngồi, người mua nên quan sát kiểm tra phần cong của đệm với phần cong của sợi mây đảm bảo độ khớp đều, không kênh vênh. Do làm từ nguyên liệu tự nhiên nên các sản phẩm nội thất mây tre phải được sử dụng và bảo quản kỹ lưỡng. Bạn nên lau chùi chúng theo định kỳ. Khi lau, chủ nhà có thể sử dụng vải khô mềm để tránh làm xây xước bề mặt đồ.</p>
				<p>Bộ bàn ghế nhựa giả mây sử dụng cho không gian ngoài trời.</p>
				<p>Ngoài ra, bạn cũng có thể dùng nước muối để tẩy sạch các vết bẩn, khiến sợi mây mềm mại hơn, tránh sử dụng chất tẩy rửa để lau chùi, làm tổn hại đến sợi mây. Đồ dùng nội thất này thường thích hợp để sử dụng trong nhà. Do đó, bạn nên tránh để chúng bị dính nước hoặc ánh nắng mặt trời.</p>
				<p>Bộ bàn ghế mây tre mang lại cảm giác dễ chịu, sang trọng.</p>
				<p>Do sự hạn chế về môi trường sử dụng, các nhà thiết kế đã dùng mây tre kết hợp với các chất liệu khác như vải nệm, sắt, kính… tạo nên những đồ nội thất độc đáo và sang trọng. Ngoài ra, với các không gian ngoại thất như vườn nhà, ban công, bể bơi, sân thượng… bạn có thể sử dụng sản phẩm nhựa giả mây tre, vừa không sợ hư hại vừa tận dụng được vẻ đẹp dịu dàng và dân dã mà nội thất mây tre mang lại.</p>
				<p style="text-align: center">
					<img src="../img/posts/3.jpg" height="834" width="1213" alt="">
				</p>
				<p>Việc sử dụng mây tre trong trang trí nội thất được nhiều gia đình ưa chuộng bởi vẻ đẹp rất riêng. Chúng đem lại cho không gian sự thoải mái, dịu nhẹ, gần gũi với thiên nhiên.</p>
				<p>Trên thị trường nội thất hiện nay, các sản phẩm từ mây tre rất đa dạng về chủng loại, hình thức, phong phú về giá trị sử dụng, kinh tế. Tuy nhiên, nội thất mây tre rất kỵ nước bởi sự ẩm ướt sẽ khiến chúng dễ bị mối mọt, ẩm mốc. Do đó, khi lựa chọn và sử dụng đồ nội thất “kỹ tính” này, gia chủ nên lưu ý kỹ và cẩn thận trong quá trình sử dụng, bảo quản.</p>
				<p>Bề mặt nội thất mây tre cần trơn bóng, phần khớp nối không thô ráp lồi lõm.</p>
				<p>Với các sản phẩm bằng mây, bạn nên lựa chọn loại mây to dài, thon đều, không có nhiều tạp sắc. Loại mây chất lượng kém thường có sợi nhỏ, đàn hồi kém, dễ đứt. Khi sờ vào bề mặt sản phẩm, mây phải trơn, bóng, đặc biệt phần khớp nối không thô ráp hoặc lồi lõm, không phẳng.</p>
				<p>Đối với ghế mây có lắp đệm ngồi, người mua nên quan sát kiểm tra phần cong của đệm với phần cong của sợi mây đảm bảo độ khớp đều, không kênh vênh. Do làm từ nguyên liệu tự nhiên nên các sản phẩm nội thất mây tre phải được sử dụng và bảo quản kỹ lưỡng. Bạn nên lau chùi chúng theo định kỳ. Khi lau, chủ nhà có thể sử dụng vải khô mềm để tránh làm xây xước bề mặt đồ.</p>
			</div>
		</div>
	</section>
	<section class="news-related">
		<div class="container">
			<h3>Tin tức liên quan</h3>
			<ul>
				<li>
					<span class="list-icon">»</span>
					<a href="javascript:">Tuyển dụng nhân viên Kế toán tại Hà Nam
						<span class="date">(25/04/2015)</span>
					</a>
				</li>
				<li>
					<span class="list-icon">»</span>
					<a href="javascript:;">Nội Thất Minh Thy Tham Gia Triển Lãm VietBuild Home 2014
						<span class="date">(05/12/2014)</span>
					</a>
				</li>
				<li>
					<span class="list-icon">»</span>
					<a href="javascript:">Tuyển dụng nhân viên Kế toán tại Hà Nam
						<span class="date">(25/04/2015)</span>
					</a>
				</li>
				<li>
					<span class="list-icon">»</span>
					<a href="javascript:;">Nội Thất Minh Thy Tham Gia Triển Lãm VietBuild Home 2014
						<span class="date">(05/12/2014)</span>
					</a>
				</li>
				<li>
					<span class="list-icon">»</span>
					<a href="javascript:;">Nội Thất Minh Thy Tham Gia Triển Lãm VietBuild Home 2014
						<span class="date">(05/12/2014)</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="footer-content">
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Album</h4>
					<ul>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Album</h4>
					<ul>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
						<li><a href="javascript:;">Quy trình sản xuất và nhà máy</a></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
					<h4>Liên hệ</h4>
					<ul>
						<li></li>
					</ul>
				</section>
				<section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding maps">
					<img src="https://placeholdit.imgix.net/~text?txtsize=19&amp;bg=efefef&amp;txtclr=aaaaaa%26text%3Dno%2Bimage&amp;txt=no+image&amp;w=200&amp;h=150" alt="maps">
				</section>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				&copy; Copyright 2015. Made by iguru.vn
			</div>
		</div>
	</footer>
	<script src="../plugins/jquery.min.js" type="text/javascript"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../plugins/jquery-bxslider/jquery.bxslider.min.js" type="text/javascript"></script>
	<script src="../plugins/jquery-elevatezoom/jquery.elevatezoom.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
</body>
</html>